{% extends 'store/main.html' %}
{% load static %}

{% block title %}Cart{% endblock %}


{% block content%}

<div class="cart-main-content">
<h3>Корзина</h3>
<div class="continue-button">
  <a href="{% url 'store' %}">← Продолжить покупки</a>
</div>
<div class="table">
  Товаров: <strong>{{ order.get_cart_items }}</strong>
  <div class="cart-line"></div>
  Сумма: <strong>{{ order.get_cart_total }} ₽</strong>
  <div class="cart-layout">
    <a href="{% url 'checkout' %}">Перейти к оформлению</a>
  </div>

</div>

<div class="cart-list-products">
  {% for item in items %}
    <div class="cart-product">

    <img src="{{ item.product.imgURL }}" alt="">
    <div class="cart-product-text">


    <div class="cart-product-information">
      <div class="cart-product-information-name">
        {{ item.product.name }}
      </div>
      <div class="cart-product-information-author">
        {{ item.product.author }}
      </div>
    </div>
    <div class="cart-price">
      {{ item.product.price }} ₽
    </div>
    <div class="cart-quantity">
      {{ item.quantity }}
    </div>

    <div class="cart-button">

      <img data-product = "{{ item.product.id }}" data-action="add" class = "update-cart" src="{% static 'images/up.png'%}" alt="">
      <img data-product = "{{ item.product.id }}" data-action="remove" class = "update-cart" src="{% static 'images/down.png'%}" alt="">
    </div>
    <div class="cart-total">
      {{ item.get_total }} ₽
    </div>


  </div>

  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
