{% extends 'store/main.html' %}
{% load static %}

{% block title %}Chekout{% endblock %}


{% block content%}
<div class="" id ="form-wrapper">
  <form id="form">
    <div class="user-info">
      <div class="form-field">
        <input required class = "form-control" type="text" name="name" placeholder="Name..">
      </div>
      <div class="form-field">
        <input type="email" name="email" placeholder="Email..">
      </div>
    </div>

    <div id="shipping-info">
      <hr>
      <p>Shipping information</p>
      <hr>
      <div class="form-field">
        <input class="form-control" type="text" name="address" placeholder="Address..">
      </div>
      <div class="form-field">
        <input class="form-control" type="text" name="city" placeholder="City..">
      </div>
      <div class="form-field">
        <input class="form-control" type="text" name="state" placeholder="State..">
      </div>
      <div class="form-field">
        <input class="form-control" type="text" name="zipcode" placeholder="Zipcode..">
      </div>
      <div class="form-field">
        <input class="form-control" type="text" name="country" placeholder="Country..">
      </div>
    </div>

    <hr>
    <input id="form-button" type="submit" value="Continue">
  </form>
</div>
<div class="">
  <br>
  <div id = "payment-info" class = "hidden">
    Paypal Options
    <button id = "make-payment">Make payment</button>
  </div>
</div>

<h3>Chekout</h3>
{% for item in items %}
  <img src="{{ item.product.imgURL }}" alt=""><br>
  {{ item.product.name }}<br>
  {{ item.product.price}}<br>
  {{ item.quantity }}<br>
  <div class="">
    <img data-product = "{{ item.product.id }}" data-action="add" class = "update-cart" src="{% static 'images/up.png'%}" alt="">
    <img data-product = "{{ item.product.id }}" data-action="remove" class = "update-cart" src="{% static 'images/down.png'%}" alt="">
  </div>
{% endfor %}

Количество:{{ order.get_cart_items }}<br>
Сумма заказ:{{ order.get_cart_total }}
<script type="text/javascript">
  var shipping = '{{ order.shipping }}'

  if (shipping == 'False'){
    document.getElementById('shipping-info').innerHTML = ''
  }

  var form = document.getElementById('form')
  form.addEventListener('submit', function(e){
    e.preventDefault()
    console.log('Form submitted...')
    document.getElementById('form-button').classList.add("hidden");
    document.getElementById('payment-info').classList.remove("hidden");
  })

  document.getElementById('make-payment').addEventListener('click', function(e){
    submitFormData()
  })


  function submitFormData(){
    console.log('Payment button clicked')
  }
</script>
{% endblock %}
