<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
  <div class="header-information">
    <div class="header-information-place">
      <object type="image/svg+xml" data="{% static 'images/place.svg' %}" width="20" height="20"></object>
    </div>
    <div class="header-information-title-place">
      <a href="#">Мурманск</a>
    </div>
    <div class="header-information-vakansii">
      <a href="#">Вакансии</a>
    </div>
    <div class="header-information-number-imag">
      <object type="image/svg+xml" data="{% static 'images/phone.svg' %}" width="20" height="20"></object>
    </div>
    <div class="header-information-number">
      <a href="#">+7 148 814-88-14</a>
    </div>
    <div class="header-information-help">
      <a href="#">Помощь</a>
    </div>
  </div>
  <div class="header-search">
    <div class="header-logo">
      <object type="image/svg+xml" data="{% static 'images/logo.svg' %}" width="150" height="150"></object>
    </div>
    <div class="header-name">
      ЧИТАЙКА
    </div>
    <div class="header-search-catalog">
        Каталог
    </div>
    <div class="header-search-bar">
      <form>
        <input type="text" placeholder="Найти книгу...">
        <button type="submit"></button>
    </form>
    </div>
    <div class="cart-form">
      <a href="{% url 'cart' %}">Корзина</a>
      <div class="cart-information">
        Количестов товаров:
        <p id="cart-total">{{ cartItems }}</p>
      </div>
    </div>
  </div>
  <div class="header-line"></div>
    <div class="header-navigation" id = "myTopnav">
      <!-- <a href="{% url 'store' %}">Store</a> -->
    </div>
    <div class="wrapper">
      <div class="content">
        {% block content %}

        {% endblock %}
      </div>

    </div>

      <div class="footer">
        <div class="above-footer">
          <div class="footer-about-company">
            <div class="title-footer">
              О компании
            </div>
            <div class="about-footer">
                <a href="#">О «Читайке»</a>
                <a href="#">Бонусная программа</a>
                <a href="#">Открытые вакансии</a>
            </div>
          </div>
          <div class="footer-about-company">
            <div class="title-footer">
              Книжная сеть
            </div>
            <div class="about-footer">
                <a href="#">Карта магазинов</a>
                <a href="#">Бронирование книг</a>
                <a href="#">Подарочные сертификаты</a>
            </div>
          </div>
          <div class="footer-about-company">
            <div class="title-footer">
              Интернет-магазин
            </div>
            <div class="about-footer">
                <a href="#">Каталог</a>
                <a href="#">Карта пунктов выдачи</a>
                <a href="#">Пользовательское соглашение</a>
                <a href="#">Возврат товара</a>
                <a href="#">Карта сайта</a>
            </div>
          </div>
          <div class="footer-about-company">
            <div class="title-footer">
              Контакты
            </div>
            <div class="about-footer">
                <a href="#">Помощь и ответы на вопросы</a>
                <a href="#">Контакты и реквизиты</a>
                <a href="#">СМИ и партнерам</a>
                <a href="#">Оптовым клиентам и 44-Ф3</a>
                <a href="#">Обратная связь</a>
            </div>
          </div>
          <div class="footer-line"></div>
          <div class="footer-information">
            <div class="footer-information-title">
              Контактный центр:
            </div>
            <div class="footer-information-number">
                +7 228 228-22-80
            </div>
            <div class="footer-information-app">
                Мобильное приложение<br> «Читайка»
            </div>
            <div class="footer-information-imgs">
              <object class='f-img'type="image/svg+xml" data="{% static 'images/app-store.svg' %}" width="100" height="50"></object>
              <object class='s-img' type="image/svg+xml" data="{% static 'images/google-store.svg' %}" width="115" height="50"></object>
            </div>
            <div class="footer-information-social">
                <object type="image/svg+xml" data="{% static 'images/social.svg' %}" width="150" height="50"></object>
            </div>

          </div>
        </div>
        <div class="near-footer">
          <div class="fr-near-footer">
              2006-2022, ООО «Читайка»
          </div>
          <div class="sc-near-footer">
            <div class="sc-near-footer-title">
              Мы принимаем к оплате:
            </div>
            <object type="image/svg+xml" data="{% static 'images/pay1.svg' %}" width="200" height="100"></object>
          </div>
          <div class="th-near-footer">
            <div class="th-near-footer-title">
              Мы заботимся о вашей безопасности
            </div>
          <object type="image/svg+xml" data="{% static 'images/qr.svg' %}" width="100" height="100"></object>
          </div>
        </div>
      </div>
      <script type="text/javascript" src = "{% static 'js/cart.js' %}"></script>

      <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name){
          var cookieValue = null;
          if(document.cookie && document.cookie !== ''){
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++){
              var cookie = cookies[i].trim();
              if(cookie.substring(0, name.length + 1) === (name + '=')){
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name){
          var cookieArr = document.cookie.split(";");

          for(var i = 0; i < cookieArr.length; i++){
            var cookiePair = cookieArr[i].split("=");

            if(name == cookiePair[0].trim()){
              return decodeURIComponent(cookiePair[1]);
            }
          }
          return null;
        }

        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
          cart = {}
          console.log('Cart was created!')
          document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

        }

        console.log('Cart:', cart)
      </script>
      <script type="text/javascript" src={% static "js/slider.js" %}></script>
  </body>
</html>
