<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type = "text/css" href="{% static 'css/main.css' %}">
  </head>
  <body>

    <div class="header-navigation" id = "myTopnav">
      <a href="{% url 'store' %}">Store</a>
    <div class="cart-form">

      <a href="{% url 'cart' %}">Корзина</a>
      <div class="">
        Количестов товаров:

      </div>
      <p id="cart-total">{{ cartItems }}</p>

    </div>
    </div>
    <div class="wrapper">
      <div class="content">
        {% block content %}

        {% endblock %}
      </div>
    </div>

      <div class="footer">
        подвал сайта
        <div class="above-footer">
          <div class="footer-about-company">
            <div class="title-footer">
              О компании
            </div>
            <div class="about-footer">
                <a href="#">О «Буквоеде»</a>
                <a href="#">Бонусная программа</a>
                <a href="#">Открытые вакансии</a>
            </div>
          </div>
          <div class="footer-about-company">
            <div class="title-footer">
              Книжная сеть
            </div>
            <div class="about-footer">
                <a href="#">Карта магазинов</a>
                <a href="#">Бронирование книг</a>
                <a href="#">Подарочные сертификаты</a>
            </div>
          </div>
          <div class="footer-about-company">
            <div class="title-footer">
              Интернет-магазин
            </div>
            <div class="about-footer">
                <a href="#">Каталог</a>
                <a href="#">Карта пунктов выдачи</a>
                <a href="#">Пользовательское соглашение</a>
                <a href="#">Возврат товара</a>
                <a href="#">Карта сайта</a>
            </div>
          </div>
          <div class="footer-about-company">
            <div class="title-footer">
              Контакты
            </div>
            <div class="about-footer">
                <a href="#">Помощь и ответы на вопросы</a>
                <a href="#">Контакты и реквизиты</a>
                <a href="#">СМИ и партнерам</a>
                <a href="#">Оптовым клиентам и 44-Ф3</a>
                <a href="#">Обратная связь</a>
            </div>
          </div>
        </div>
        <div class="near-footer">
          <div class="fr-near-footer">
              2006-2022, ООО «Буквоед»
          </div>
          <div class="sc-near-footer">
            Мы принимаем к оплате:
          </div>
          <div class="th-near-footer">
            Мы заботимся о вашей безопасности
          </div>
        </div>
      </div>
      <script type="text/javascript" src = "{% static 'js/cart.js' %}"></script>

      <script type="text/javascript">
        var user = '{{ request.user }}'

        function getToken(name){
          var cookieValue = null;
          if(document.cookie && document.cookie !== ''){
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++){
              var cookie = cookies[i].trim();
              if(cookie.substring(0, name.length + 1) === (name + '=')){
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        var csrftoken = getToken('csrftoken');

        function getCookie(name){
          var cookieArr = document.cookie.split(";");

          for(var i = 0; i < cookieArr.length; i++){
            var cookiePair = cookieArr[i].split("=");

            if(name == cookiePair[0].trim()){
              return decodeURIComponent(cookiePair[1]);
            }
          }
          return null;
        }

        var cart = JSON.parse(getCookie('cart'))
        if(cart == undefined){
          cart = {}
          console.log('Cart was created!')
          document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=;path=/"

        }

        console.log('Cart:', cart)
      </script>
  </body>
</html>
