*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,body{
		font-family: 'Open Sans', sans-serif;
		height: 100%;
	}


  .wrapper {
  	display: flex;
  	flex-direction: column;
  	min-height: 100%;
  }
  .content {
  	flex: 1 0 auto;
  }
  .footer {
  	flex: 0 0 auto;
  }


.near-footer{
  background: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-left: 13%;
  padding-bottom: 40px;
}

.fr-near-footer{
  margin-right: 6%;
	padding-top: 45px;

}

.sc-near-footer{
  margin-left: 6%;
  margin-right: 5%;
	display: flex;
	flex-direction: row;
}

.sc-near-footer-title{
	padding-top: 45px;
	padding-right: 5px;
}

.th-near-footer{
  margin-left: 5%;
	display: flex;
	flex-direction: row;
}

.th-near-footer-title{
	padding-top: 45px;
}

.footer-line{
	border-left: 2px solid #504e4f;
  height: 250px;
	margin-bottom: 40px;
	padding-right: 25px;
}


.above-footer{
  padding-top: 30px;
  background: #464445;
  padding-left: 13%;
	display: flex;
	flex-direction: row;
}

.about-footer{
  padding-top: 15px;
	display: flex;
	flex-direction: column;

}

.footer-information{
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

.footer-information-title{
	color: #fff;
	padding-bottom: 20px;
}

.footer-information-number{
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	padding-bottom: 20px;

}

.footer-information-app{
	color: #fff;
	padding-top: 20px;
	padding-bottom: 5px;

}

.footer-information-imgs{
	display: flex;
	flex-direction: row;
}

.s-img{
	padding-left: 13px;
}

.header-information{
	display: flex;
	flex-direction: row;
	padding-top: 15px;
}

.header-information a{
	text-decoration: none;
	color: black;
}

.header-information a:hover{
	color: red;
}
.header-information-place{
	padding-left: 16%;
}

.header-information-title-place{
	padding-left: 5px;
}

.header-information-vakansii{
	padding-left: 40%;
}

.header-information-number-imag{
	padding-left: 20px;
}

.header-information-number{
	padding-left: 5px;
}

.header-information-help{
	padding-left: 20px;
}

.header-line{
	border-bottom: 1px solid #e2e2e2;
}

form {
  position: relative;
  width: 300px;
  margin: 0 auto;
}
input {
  width: 100%;
  height: 42px;
  padding-left: 10px;
  border: 2px solid #7BA7AB;
  border-radius: 5px;
  outline: none;
  background: #F9F0DA;
  color: #9E9C9C;
}
button {
  position: absolute;
  top: 0;
  right: 0px;
  width: 42px;
  height: 42px;
  border: none;
  background: #7BA7AB;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
button:before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 16px;
  color: #F9F0DA;
}

.footer-about-company{
	display: flex;
  flex-direction: column;
	padding-left: 50px;
	padding-right: 50px;
}

.about-footer a{
  text-decoration: none;
  color: #939192;
  padding-bottom: 20px;
	font-size: 14px;
}

.about-footer a:hover{
	color: #7d7d7f;
}

.title-footer{
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}


.hidden{
  display: none;
}

.img-store-preview{
  height : 300px;
  width : 200px;
  object-position: 50% 50%;
}
