*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


html,body{
		font-family: 'Open Sans', sans-serif;
		height: 100%;
	}


  .wrapper {
  	display: flex;
  	flex-direction: column;
  	min-height: 100%;
  }
  .content {
  	flex: 1 0 auto;
  }
  .footer {
  	flex: 0 0 auto;
  }


.near-footer{
  background: #fff;
  display: flex;
  flex-direction: row;
  padding-top: 40px;
  padding-left: 13%;
  padding-bottom: 40px;
}

.fr-near-footer{
  margin-right: 6%;
	padding-top: 45px;

}

.sc-near-footer{
  margin-left: 6%;
  margin-right: 5%;
	display: flex;
	flex-direction: row;
}

.sc-near-footer-title{
	padding-top: 45px;
	padding-right: 5px;
}

.th-near-footer{
  margin-left: 5%;
	display: flex;
	flex-direction: row;
}

.th-near-footer-title{
	padding-top: 45px;
}

.footer-line{
	border-left: 2px solid #504e4f;
  height: 250px;
	margin-bottom: 40px;
	padding-right: 25px;
}


.above-footer{
  padding-top: 30px;
  background: #464445;
  padding-left: 13%;
	display: flex;
	flex-direction: row;
}

.about-footer{
  padding-top: 15px;
	display: flex;
	flex-direction: column;

}

.footer-information{
	display: flex;
	flex-direction: column;
	padding-left: 25px;
}

.footer-information-title{
	color: #fff;
	padding-bottom: 20px;
}

.footer-information-number{
	font-weight: bold;
	color: #fff;
	font-size: 30px;
	padding-bottom: 20px;

}

.footer-information-app{
	color: #fff;
	padding-top: 20px;
	padding-bottom: 5px;

}

.footer-information-imgs{
	display: flex;
	flex-direction: row;
}

.s-img{
	padding-left: 13px;
}

.map{
	
}




.footer-about-company{
	display: flex;
  flex-direction: column;
	padding-left: 50px;
	padding-right: 50px;
}

.about-footer a{
  text-decoration: none;
  color: #939192;
  padding-bottom: 20px;
	font-size: 14px;
}

.about-footer a:hover{
	color: #7d7d7f;
}

.title-footer{
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 15px;
}


.hidden{
  display: none;
}

.img-store-preview{
  height : 300px;
  width : 200px;
  object-position: 50% 50%;
}
